<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Categorias</h1>
    </div>
    
    <div>
        <a href="/backoffice/category/new">
        <button id="botao-nova-categoria-html" class="btn btn-success btn-icon-split">
            <span class="icon text-white-50">
                <i class="fas fa-check"></i>
            </span>
            <span class="text">Adicionar nova categoria (html)</span>
        </button>
        </a>

        <button id="botao-nova-categoria-js" class="btn btn-success btn-icon-split">
            <span class="icon text-white-50">
                <i class="fas fa-check"></i>
            </span>
            <span class="text">Adicionar nova categoria (js)</span>
        </button>
    
    </div>
    
    <div style="height: 25px">
      
    </div>
    <div id="nova-categoria" class="d-none">
        <%= form_for :category, remote: true, url: backoffice_category_create_path do |f|%>
            <div class="row">
                <div class="col-md-1">
                    <%= f.label :description, 'Categoria'%>
                </div>
                <div class="col-md-3">
                    <%= f.text_field :description, class:'form-control'%>
                </div>
            </div>
            <div style="height: 15px"></div>
            <%= f.submit 'Cadastrar', class:'btn btn-primary', id:'submit-button'%>
        <% end %>
        <div style="height: 25px"></div>
    </div>
    
    <div class="content">
      <div class="panel-body">
        <%= render 'categories_list' %>
      </div>
    </div>
  </div>
    
    
