<div class="container">
  <div class="row">
    <div class='col-lg-3'>
      <div class="card my-4" style="">
        <img class="card-img-top" src="/profile-image.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text"><b>Nome:</b> <%= @member.name%> <%= @member.surname%> <br>
          <b>Data de nascimento: </b><%= @member.birthday.strftime('%d/%m/%Y') %>
          <% if @member.sex == 'M' %>
            <b>Sexo:</b> Masculino <br>
          <% else %>
            <b>Sexo:</b> Feminino <br>
          <% end %>
          <b>Membro desde:</b> <%= @member.created_at.strftime('%d/%m/%Y')%>
          </p>
        </div>
      </div>
      <div class="my-4">
        <%= link_to 'Novo Anúncio', members_new_ad_path, class:'btn btn-primary'%>
      </div>
    </div>

    <div class='col-lg-9'>
      <div class='my-4'>
        <h2>Histórico de Compras</h2>
        <div class='row'>
          <% @member.views.where(type_view:'2').each do |view| %>
            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100">
                <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="/site/ad/<%= view.ad_id %>"><%= @ads.find(view.ad_id).title %></a>
                  </h4>
                  <h5>$ <%= @ads.find(view.ad_id).price %></h5>
                  <p class="card-text"><%= @ads.find(view.ad_id).description %></p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">★ ★ ★ ★ ☆</small>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    
      <div class='my-4'>
        <h2>Últimos anuncios visualizados</h2>
        <div class='row'>
          <% @member.views.where(type_view:'1').each do |view| %>
            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100">
                <a href=""><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="/site/ad/<%= view.ad_id %>"><%= @ads.find(view.ad_id).title %></a>
                  </h4>
                  <h5>$ <%= @ads.find(view.ad_id).price %></h5>
                  <p class="card-text"><%= @ads.find(view.ad_id).description %></p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">★ ★ ★ ★ ☆</small>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class='my-4'>
        <h2>Seus anuncios</h2>
        <div class='row'>
          <% @member.ads.each do |ad| %>
            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100">
                <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="/site/ad/<%= ad.id %>"><%= ad.title %></a>
                  </h4>
                  <h5>$ <%= ad.price%></h5>
                  <p class="card-text"><%= ad.description %></p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">★ ★ ★ ★ ☆</small><br>
                  <small><%= link_to 'Apagar', members_destroy_ad_path(ad.id), method: :delete, class:'btn btn-danger btn-sm', data: {confirm: 'Tem certeza que deseja apagar este anúncio'}%></small>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>