<div class="container">

    <%= render 'categories' %>

      <div class="col-lg-9">

        <div class="card mt-4">
          <img class="card-img-top img-fluid" src="http://placehold.it/900x400" alt="">
          <div class="card-body">
            <h3 class="card-title"><%= @ad.title%></h3>
            <p><small><%= @ad.category.description %></small></p>
            <h4>$<%= @ad.price %></h4>
            <p class="card-text"><%= @ad.description %></p>
            <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
            4.0 stars
          </div>
          <%if @ad.member_id != current_member.id %>
            <div class='card-footer'><%= link_to 'Comprar Item', members_buy_ad_path(@ad.id), class:'btn btn-success', data: {confirm: 'Tem certeza que deseja comprar este item?'}%></div>
          <% end %>
        </div>
        <!-- /.card -->

        <div class="card card-outline-secondary my-4">
          <div class="card-header">
            Comentários
          </div>
          <div class="card-body">
            <div id='comments'>
              <% @ad.comments.each do |comment|%>
                <p><%= comment.comment %></p>
                <small class="text-muted">Commented by <% if current_member.id != comment.member_id %><%= @member.find(comment.member_id).name%> <%= @member.find(comment.member_id).surname%> <% else%> you <% end %> on <%= comment.created_at.strftime('%d/%m/%Y')%></small>
                <br>
                <button class='btn btn-success btn-sm'>Responder Comentário</button>
                <hr>
              <% end %>
             </div>
            <a href="/members/ad/<%= @ad.id%>/comment" class="btn btn-success">Comentar (HTML)</a>
            <hr>
            <div class='comment-section form-group'>
              <%= form_for :comment, remote: true, url: members_create_comment_path  do |f| %>
                <%= f.label :comment, 'Comentário', class:'form-group' %>
                <%= f.text_area :comment, class:'form-control', id:'comment-text' %>
                <p class='d-none'><%= f.text_field :ad_id, value: @ad.id %></p>
                <br>
                <%= f.submit 'Comentar', class:'btn btn-success', id:'comment-button'%>
              <% end %>
            </div>
          </div>
        </div>
        <!-- /.card -->

      </div>
      <!-- /.col-lg-9 -->

    </div>

  </div>
  <!-- /.container -->